body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #faf3f3;
    color: #0f0e0e;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #b46969;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

nav h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    font-size: 1rem;
    transition: width 0.3s;
}

#search-input:focus {
    width: 200px;
}

#search-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #e50914;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #f40612;
}

header {
    background: linear-gradient(rgba(197, 111, 111, 0.5), rgba(0, 0, 0, 0.5)), url('https://image.tmdb.org/t/p/original/A9KPQzI37OMsxp7IFaL8U89d1ed.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 6rem 2rem;
    text-align: center;
    margin-top: 4rem;
}

header h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

main {
    padding: 2rem;
    margin-top: 2rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    margin-left: 1rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.movie-row {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #e50914 #141414;
}

.movie-row::-webkit-scrollbar {
    height: 12px;
}

.movie-row::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 6px;
}

.movie-tile {
    background-color: #222;
    border-radius: 10px;
    margin-right: 1rem;
    overflow: hidden;
    flex: 0 0 auto;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
}

.movie-tile:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-tile img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #e50914;
    transition: filter 0.3s;
}

.movie-tile:hover img {
    filter: brightness(0.7);
}

.movie-info {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.movie-info h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.movie-info p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    color: #aaa;
}

.movie-info p:first-of-type {
    color: #e50914;
    font-weight: bold;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.feature h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #888282;
}

.feature p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #664545;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .movie-row {
        flex-direction: column;
    }

    .movie-tile {
        width: 100%;
        margin-bottom: 1rem;
    }

    .features-container {
        flex-direction: column;
    }

    .feature {
        margin-bottom: 2rem;
    }
}

